body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.secondary-logo {
    max-width: 24px;
    height: auto;
}

.navbar-default {
  border-color: #fff !important;
  background-color: #fff !important;
}

input, textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.no-border ul li a {
outline: none !important;
box-shadow:none !important;
}

.no-border ul li a:hover {
  background-color: white;
}

.login-input {
  padding: 2px 0;
}

.margin-button {
  margin: 0 5px !important;
  display: inline-block; !important;
  justify-content: center !important;
}

.time-label {
  font-size: 10px;
  font-weight: normal;
}

.time-field {
  float: right !important;
}

.pad-top {
  padding-top: 20px;
}
/*.flex-div {
  display: inline-block !important;
}*/

.gamelist  {
  justify-content: center;
  padding: 10px 10px;
}

.gamelist-checkbox  {
  display: inline-block;
}

.feed {
  text-align: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.clean-link, .clean-link:hover, .clean-link:visited, .clean-link:focus, .clean-link:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

.has-danger input {
  border-color: #bf0000 !important;
}

.text-help {
  color: #bf0000 !important;
}

.text-center {
  text-align: center;
}

/*-----SERVICE BOX-----*/
.serviceBox{
    text-align: center;
    margin: 0 -15px;
    padding: 50px 30px;
    color: #000;
}
.serviceBox .service-icon{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 30px;
    transition: all 0.5s ease 0s;
}
.serviceBox:hover .service-icon{
    box-shadow: 0 0 0 5px #A83C22;
}
.serviceBox .title{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 15px;
}
.serviceBox .description{
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
    margin: 0;
}
